# Bootstrap
app/bootstrap*
app/cache/*
# Symfony directories
vendor/*
app/logs/*
app/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini

#database
app/config/godProject.db
